<div class="smaller-container bg-white shadow-sm rounded p-3">
  <h1 class="text-center">Add a bookmark to the list:<%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f|%>
    <%= f.association :movie, collection: Movie.all, prompt: "Select a movie" %>
    <%= f.input :comment %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
